/* Signup.css */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.signup-form {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.signup-form h1 {
    margin-bottom: 20px;
    color: #333;
}

.signup-form input,
.signup-form select {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

.signup-form input:focus,
.signup-form select:focus {
    border-color: #4285f4;
}

.signup-form button {
    width: calc(100% - 20px);
    padding: 12px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.signup-form button:hover {
    background-color: #357ae8;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.signup-form {
    animation: fadeIn 0.5s ease-in-out;
}